@media (min-width: 768px) {
    #lorem {
    color: brown;
    }
    
    @keyframes memo5 {
        0%{ background-color:rgba(64, 224, 208, 0.288);
        height: 150px;
        border-radius: 10px;
        }
        100%{ background-color:rgba(64, 224, 208, 0.616) ;
        height: 200px;
        border-radius: 10px 10px 0px 0px;
        }
    }
   } 
@media (min-width: 1200px) {
    #test1 {
    position: absolute;
    display: block;
    }
   }
@media (max-width: 768px) {
    #profil {
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
    }
    #nav_titre{
        position: relative;
        left: -8%;
        size: 50%;
        margin-bottom: 10%;
    }
    #foot{
        position: relative;
        bottom: 0px;
        margin: 0%;
        padding: 10%;
        width: 100%;
        height: 100%;
        font-size: 100%;
        
    }
    #nav-all{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        

    }
    #bodys{
        display: flex;
        width: 100%;
    }
    #nav_m{
        position: relative;
        left: -5%;
        color: white;
        background-color: rgba(0, 255, 221, 0.473);
        text-align: center;
        margin: 10px 0px;
        display: flex;
        flex-grow:2;
        align-items: center;
        
    }
    #link{
    color: white;
    margin-left: 30%;
    text-decoration-line: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #nav_m:hover{
        background-color:rgba(0, 255, 221, 0.726); 
        animation: trans 100ms;
        left: 5%;
        animation-iteration-count: 1;
        box-shadow: 3px 20px 30px black;
        width: 120px;
        height: 53px;
    }
    #last-d{
        width: 99%;
        height: 200px;
        border-radius: 0px;
        animation:none;
        background-color: rgba(0, 0, 0, 0);
        background-size: 100%;
    }
   } 
@media (min-width: 820px) {
    #profil {
        position: absolute;
        top: 10px;
        right: 20px;
        
        }
        
}
/*animation des bares de navigation*/
@keyframes trans{
    0%{left: 0%;}
    100%{left: 5%;}
}